In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [64]:
# импортируем csv'шку
df = pd.read_csv('kicksharing.csv')

In [65]:
df.head()

,order_rk,party_rk,gender_cd,age,education_level_cd,marital_status_cd,lvn_state_nm,minute_cost,activation_cost,hold_amount,transport_model,distance_km,created_dttm,book_start_dttm,book_end_dttm,book_time_zone_cd,local_book_start_dttm,nominal_price_rub_amt,loyalty_accrual_rub_amt,loyalty_accrual_bns_amt
0,266071307,761067705,M,40,UGR,DIV,ТЮМЕНСКАЯ ОБЛ,4.99,30.0,300.0,SL,3.690479,2024-08-07 09:47:25.000000,2024-08-07 09:47:29.325252,2024-08-07 10:07:59.339524,5,2024-08-07 11:47:29.325252,134.79,19.48,NaN
1,355113920,614049469,F,30,GRD,MAR,РОСТОВСКАЯ ОБЛ,8.49,50.0,300.0,SL,1.114912,2024-10-17 14:57:20.000000,2024-10-17 14:57:24.586000,2024-10-17 15:04:19.419607,3,2024-10-17 14:57:24.586000,109.43,40.30,NaN
2,347424551,757583701,M,28,UGR,UNM,СВЕРДЛОВСКАЯ ОБЛ,5.99,30.0,300.0,E,1.515612,2024-09-19 05:31:41.000000,2024-09-19 05:34:59.476000,2024-09-19 05:41:50.164372,5,2024-09-19 07:34:59.476000,71.93,10.79,NaN
3,351562959,541367366,M,24,GRD,UNM,Г МОСКВА,8.99,50.0,300.0,SL,0.499411,2024-10-04 16:05:09.000000,2024-10-04 16:05:13.162000,2024-10-04 16:07:31.724918,3,2024-10-04 16:05:13.162000,76.97,7.70,NaN
4,258647149,238473615,M,34,NaN,NaN,Г МОСКВА,6.99,50.0,300.0,SL,2.602028,2024-07-10 06:57:40.000000,2024-07-10 06:57:43.017125,2024-07-10 07:07:48.446462,3,2024-07-10 06:57:43.017125,126.89,25.38,NaN

In [66]:
# чудеса стандартизации названий городов и областей

def replace(target: str, replacement: list[str]):
  for i in replacement:
    df['lvn_state_nm'] = df['lvn_state_nm'].replace({i: target})

print(len(df['lvn_state_nm'].dropna().unique()))

replace('МОСКВА', ['Г. МОСКВА', 'ГОРОД МОСКВА', 'Г МОСКВА', 'МОСКВА Г', 'МОСККОВСКАЯ'])
replace('САНКТ-ПЕТЕРБУРГ', ['Г. САНКТ-ПЕТЕРБУРГ', 'ГОРОД САНКТ-ПЕТЕРБУРГ', 'САНКТ-ПЕТЕРБУРГ Г', 'Г САНКТ-ПЕТЕРБУРГ'])
replace('КЕМЕРОВСКАЯ ОБЛ', ['КЕМЕРОВСКАЯ ОБЛАСТЬ - КУЗБАСС ОБЛ', 'КЕМЕРОВСКАЯ ОБЛАСТЬ - КУЗБАСС'])
replace('ЧУВАШСКАЯ РЕСПУБЛИКА', ['ЧУВАШИЯ ЧУВАШСКАЯ РЕСПУБЛИКА -', 'ЧУВАШСКАЯ РЕСПУБЛИКА ЧУВАШИЯ', 'ЧУВАШСКАЯ РЕСПУБЛИКА - ЧУВАШИЯ'])
replace('СВЕРДЛОВСКАЯ ОБЛ', ['ОБЛ СВЕРДЛОВСКАЯ', 'ОБЛ. СВЕРДЛОВСКАЯ', 'СВЕРДЛОВСКАЯ ОБЛАСТЬ', 'СВЕРДЛОВСКАЯ'])
replace('ГОМЕЛЬСКАЯ ОБЛ', ['ГОМЕЛЬСКАЯ ОБЛАСТЬ', 'ГОМЕЛЬСКАЯ'])
replace('ТАТАРСТАН РЕСП', ['РУСП ТАТАРСТАН', 'РЕСПУБЛИКА ТАТАРСТАН (ТАТАРСТАН)', 'РЕСП. ТАТАРСТАН', 'РЕСП ТАТАРСТАН', 'ТАТАРСТАН', 'РЕСПУБЛИКА ТАТАРСТАН'])
replace('МОСКОВСКАЯ ОБЛ', ['ОБЛ. МОСКОВСКАЯ', 'МОСККОВСКАЯ', 'МОСКОВСКАЯ ОБЛ.', 'ОБЛ МОСКОВСКАЯ', 'МОСКОВСКАЯ ОБЛАСТЬ', 'МОСКОВСКАЯ'])
replace('ДОНЕЦКАЯ НАРОДНАЯ РЕСП', ['РЕСП ДОНЕЦКАЯ НАРОДНАЯ'])
replace('ХАНТЫ-МАНСИЙСКИЙ АО', ['АО ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА', 'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА', 'ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ - ЮГРА АО'])
replace('НОВОСИБИРСКАЯ ОБЛ', ['НОВОСИБИРСКАЯ ОБЛАСТЬ', 'НОВОСИБИРСКАЯ'])
replace('ЧЕЛЯБИНСКАЯ ОБЛ', ['ЧЕЛЯБИНСКАЯ ОБЛ.', 'ЧЕЛЯБИНСКАЯ ОБЛАСТЬ'])
replace('ЛЕНИНГРАДСКАЯ ОБЛ', ['ЛЕНЕНГРАДСКАЯ ОБЛ', 'ЛЕНИНГРАДСКАЯ ОБЛАСТЬ'])
replace('НИЖЕГОРОДСКАЯ ОБЛ', ['НИЖЕГОРОДСКАЯ'])
replace('ИРКУТСКАЯ ОБЛ', ['ИРКУТСКАЯ ОБЛАСТЬ'])
replace('АСТРАХАНСКАЯ ОБЛ', ['АСТРАХАНСКАЯ ОБЛАСТЬ'])
replace('САХАЛИНСКАЯ ОБЛ', ['САХАЛИНСКАЯ ОБЛАСТЬ'])
replace('УДМУРТСКАЯ РЕСП', ['УДМУРТСКАЯ'])
replace('ХАНТЫ-МАНСИЙСКИЙ АО', ['ХАНТЫ-МАНСИЙСКИЙ АВТОНОМНЫЙ ОКРУГ'])
replace('ВОЛГОГРАДСКАЯ ОБЛ', ['ВОЛГОГРАДСКАЯ ОБЛАСТЬ'])
replace('ЯМАЛО-НЕНЕЦКИЙ АО', ['АО ЯМАЛО-НЕНЕЦКИЙ']) 
replace('ТУЛЬСКАЯ ОБЛ', ['ТУЛЬСКАЯ ОБЛАСТЬ'])
replace('САХА /ЯКУТИЯ/ РЕСП', ['САХА /ЯКУТИЯ/'])

for i in df['lvn_state_nm'].dropna().unique():
    if i.startswith('ОБЛ'):
       replace(' '.join(i.split(' ')[1:]) + ' ОБЛ', [i])
    elif i.startswith('РЕСП'):
       replace(' '.join(i.split(' ')[1:]) + ' РЕСП', [i])
    elif i.startswith('ОБЛАСТЬ'):
       replace(' '.join(i.split(' ')[1:]) + ' ОБЛ', [i])
    elif i.startswith('РЕСПУБЛИКА'):
       replace(' '.join(i.split(' ')[1:]) + ' РЕСП', [i])
    elif i.startswith('КРАЙ'):
       replace(' '.join(i.split(' ')[1:]) + ' КРАЙ', [i])
    elif i.startswith('АОБЛ'):
       replace(' '.join(i.split(' ')[1:]) + ' АОБЛ', [i])

print(len(df['lvn_state_nm'].dropna().unique()))
df['lvn_state_nm'].dropna().unique()

212
105

array(['ТЮМЕНСКАЯ ОБЛ', 'РОСТОВСКАЯ ОБЛ', 'СВЕРДЛОВСКАЯ ОБЛ', 'МОСКВА',
       'ТАТАРСТАН РЕСП', 'НОВОСИБИРСКАЯ ОБЛ', 'ЧЕЛЯБИНСКАЯ ОБЛ',
       'НИЖЕГОРОДСКАЯ ОБЛ', 'КРАСНОДАРСКИЙ КРАЙ', 'МОСКОВСКАЯ ОБЛ',
       'КЕМЕРОВСКАЯ ОБЛ', 'КРАСНОЯРСКИЙ КРАЙ', 'СМОЛЕНСКАЯ ОБЛ',
       'ИРКУТСКАЯ ОБЛ', 'ОРЛОВСКАЯ ОБЛ', 'САНКТ-ПЕТЕРБУРГ',
       'БАШКОРТОСТАН РЕСП', 'ПСКОВСКАЯ ОБЛ', 'ВОЛОГОДСКАЯ ОБЛ',
       'МАРИЙ ЭЛ РЕСП', 'ВОРОНЕЖСКАЯ ОБЛ', 'САМАРСКАЯ ОБЛ',
       'АСТРАХАНСКАЯ ОБЛ', 'БЕЛГОРОДСКАЯ ОБЛ', 'АЛТАЙСКИЙ КРАЙ',
       'ЛИПЕЦКАЯ ОБЛ', 'САРАТОВСКАЯ ОБЛ', 'ЛЕНИНГРАДСКАЯ ОБЛ',
       'ПЕРМСКИЙ КРАЙ', 'САХАЛИНСКАЯ ОБЛ', 'УДМУРТСКАЯ РЕСП', 'КРЫМ РЕСП',
       'КАЛИНИНГРАДСКАЯ ОБЛ', 'ТВЕРСКАЯ ОБЛ', 'СТАВРОПОЛЬСКИЙ КРАЙ',
       'СЕВЕРНАЯ ОСЕТИЯ - АЛАНИЯ РЕСП', 'ИВАНОВСКАЯ ОБЛ',
       'ХАНТЫ-МАНСИЙСКИЙ АО', 'ПРИМОРСКИЙ КРАЙ', 'ВОЛГОГРАДСКАЯ ОБЛ',
       'Г СЕВАСТОПОЛЬ', 'ТОМСКАЯ ОБЛ', 'ЧЕЧЕНСКАЯ РЕСП', 'БУРЯТИЯ РЕСП',
       'ДАГЕСТАН РЕСП', 'КУРГАНСКАЯ ОБЛ', 'КАБАРДИНО-БАЛКАРСКАЯ РЕСП',
       'КИРОВСКАЯ ОБЛ', 'ЯМАЛО-НЕНЕЦКИЙ АО', 'ТАМБОВСКАЯ ОБЛ',
       'КУРСКАЯ ОБЛ', 'ОРЕНБУРГСКАЯ ОБЛ', 'ЯРОСЛАВСКАЯ ОБЛ',
       'БРЯНСКАЯ ОБЛ', 'РЯЗАНСКАЯ ОБЛ', 'ОМСКАЯ ОБЛ', 'КОМИ РЕСП',
       'АРХАНГЕЛЬСКАЯ ОБЛ', 'ПЕНЗЕНСКАЯ ОБЛ', 'НОВГОРОДСКАЯ ОБЛ',
       'ВЛАДИМИРСКАЯ ОБЛ', 'ТУЛЬСКАЯ ОБЛ', 'АМУРСКАЯ ОБЛ',
       'ХАБАРОВСКИЙ КРАЙ', 'КАЛУЖСКАЯ ОБЛ', 'УЛЬЯНОВСКАЯ ОБЛ',
       'САХА /ЯКУТИЯ/ РЕСП', 'КАЛМЫКИЯ РЕСП', 'МУРМАНСКАЯ ОБЛ',
       'МОРДОВИЯ РЕСП', 'ЗАБАЙКАЛЬСКИЙ КРАЙ', 'ХАКАСИЯ РЕСП',
       'АДЫГЕЯ РЕСП', 'АЛТАЙ РЕСП', 'ЧУВАШСКАЯ РЕСПУБЛИКА',
       'ДОНЕЦКАЯ НАРОДНАЯ РЕСП', 'ЛУГАНСКАЯ НАРОДНАЯ РЕСП',
       'ФЕДЕРАЛЬНАЯ ТЕРРИТОРИЯ СИРИУС', 'КАРЕЛИЯ РЕСП', 'КАМЧАТСКИЙ КРАЙ',
       'ТЫВА РЕСП', 'ЧУКОТСКИЙ АО', 'МАГАДАНСКАЯ ОБЛ', 'ИНГУШЕТИЯ РЕСП',
       'КОСТРОМСКАЯ ОБЛ', 'ЕВРЕЙСКАЯ АОБЛ', 'КАРАЧАЕВО-ЧЕРКЕССКАЯ РЕСП',
       'ЛНР', 'ХЕРСОНСКАЯ ОБЛ', 'БРЕСТСКАЯ ОБЛАСТЬ', 'Г БАЙКОНУР',
       'ГОМЕЛЬСКАЯ ОБЛ', 'ЗАПОРОЖСКАЯ ОБЛ', 'НЕНЕЦКИЙ АО',
       'МОГИЛЕВСКАЯ ОБЛ', 'СОЕДИНЕННЫЕ ШТАТЫ АМЕРИКИ', 'МО ЗАПАД',
       'ISRAEL', 'МОГИЛЁВСКАЯ', 'ПОЛЬША', 'НОВОЗЫБКОВСКАЯ ОБЛ',
       'Г САМАРА', 'Г. ЗЕЛЕНОГРАД', 'ОДЕССКАЯ ОБЛ', 'ПОСЕЛЕНИЕ СОСЕНСКОЕ'],
      dtype=object)

In [67]:
# смотрим чтобы не было повторов
regions = df['lvn_state_nm'].dropna().unique().tolist()

dict = {}
for region in regions:
    for s in region.split(' '):
        if s in dict:
            dict[s] += 1
        else:
            dict[s] = 1

for k, v in dict.items():
    if (v > 1):
        print(k, v)

regions

with open('regions.txt', 'w') as f:
    for k in regions:
        f.write(f'{k}\n')

ОБЛ 52
РЕСП 23
КРАЙ 9
АО 4
Г 3
НАРОДНАЯ 2

In [68]:
# приводим к pandas'овскому datetime

df['book_start_dttm'] = pd.to_datetime(df['book_start_dttm'])
df['book_end_dttm'] = pd.to_datetime(df['book_end_dttm'])
df['local_book_start_dttm'] = pd.to_datetime(df['local_book_start_dttm'])
df['created_dttm'] = pd.to_datetime(df['created_dttm'])

In [69]:
# вычисляем время поездки

df['travel_time'] = df.book_end_dttm - df.book_start_dttm
df['travel_time_h'] = (df['travel_time'].dt.total_seconds() / 3600)

In [70]:
# вычисляем среднюю скорость по расстоянию и времени

df['average_speed'] = df['distance_km'].round(3) / (df['travel_time'].dt.total_seconds() / 3600).round(3)

In [71]:
# считаем что скорость самоката не может быть больше 40 км/ч

df = df[df['average_speed'] < 40]

In [72]:
df.to_csv('kicksharing_drop.csv')